# Start this service:
# sudo systemctl start garage-door-monitor.service
# Check status of this service:
# sudo systemctl status garage-door-monitor.service
# Stop this service:
# sudo systemctl stop garage-door-monitor.service
# Start this service on boot:
# sudo systemctl enable garage-door-monitor.service

[Unit]
Description=Garage Door Monitor Service
After=network.target
Requires=docker.service

[Service]
# <IoT_endpoint>: AWS IoT thing endpoint
# <AWS_root_cert_file>: filename of the AWS root certificate (not full path)
# <IoT_cert_file>: filename of the certificate used by the IoT thing
# <IoT_cert_private_key_file>: filename of the private key of the certificate
# <certs_dir>: full path to directory that contains the AWS root certificates, IoT certificate and its private key files.
# REPLACE THE PLACEHOLDERS BEFORE RUN.
ExecStart=/home/pi/bootstrap.sh <IoT_endpoint> <AWS_root_cert_file> <IoT_cert_file> <IoT_cert_private_key_file> <certs_dir>
# ensure the name of this file (%N) matches the container name
ExecStop=/usr/bin/docker stop %N
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10s
User=pi
TimeoutStartSec=300
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target